{
  "ltrim": {
    "action": "regexp_replace",
    "args": ["^\\s+", "", "true"]
  },

  "rtrim": {
    "action": "regexp_replace",
    "args": ["\\s+$", "", "true"]
  },

  "trim": {
    "action": "order",
    "args": ["ltrim", "rtrim"]
  },

  "rm_suffix_sb": {
    "action": "regexp_replace",
    "args": ["\\[.+?\\]$", "", "true"]
  }
}
